<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT - Music Finder</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
</head>
<body>
    <a href="{{url_for('index')}}" class="home-button">
        <img src="{{url_for('static', filename='css/logo.png')}}" alt="Logo">
    </a>
    <div class="container">
        <div class="header">ABOUT</div>
        <div class="content">
            <div class="text">
                <br>
                Welcome to Music Finder, your ultimate destination for discovering new music tailored to your tastes. Our platform allows you to search for music by song, ensuring you find the perfect tracks to match your preferences. Additionally, you can create, update, and delete reviews, enabling you to share your thoughts and experiences with the community.
            </div>
            <br> 
            <br>
            <br>
            <a href="https://open.spotify.com/">
                <img src="{{url_for('static', filename='css/spotify.png')}}" style="max-width: 25%; height: auto;" alt="Description of image">            </a>
            <br>
            <a href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='css/logo.png')}}" style="max-width: 70%; height: auto;" alt="LOGO Image">
            </a>
        </div>
    </div>
</body> 
</html>
